*{
    margin: 0px;
    background-size: 100vw 100vh;
}

body {
    background-image: url('./images/back-view-crowd-fans.jpg');
}

.keys {
    /* background-color: orange; */
    /* width: 70vw;
    height: 25vw; */
    margin-inline: 15vw;
    padding: 0px;
    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.key {
    width: 40px;
    height: 40px;
    border: 1px solid white;
    color: antiquewhite;
    margin: 30px;
    text-align: center;
    transition: all .2s ;
    font-weight: 900;
    font-size: x-large;
    box-shadow: 5px 5px #ffffff;
}

.playing {
    border: 3px solid orange;
    transform: scale(1.4);
    color: orange;
    box-shadow: 5px 5px orange;
}

@media only screen and (max-width: 600px) {
    .keys{
        /* background-color: orange; */
        margin-top: 20px;
    }
}